<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/david3.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Biografia</ion-card-subtitle>
      <ion-card-title>David Menegasso Ribeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nasceu na cidade de Caçador em 25 de julho de 1999, residente na mesma desde então. Cursando Técnico em
      Desenvolvimento de Sistemas na Instituição IFSC Campus Caçador.
    </ion-card-content>
  </ion-card>
</ion-content>